{% extends "base.html" %}
{% block title %}
Wave
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <table data-toggle="table" class="table">
        <thead>
        <TR>
            <TH>OWN</TH>
            <TH>CODE/NAME</TH>
            <TH>START/STOP PE</TH>
            <TH>VOLATILITY-RANGE</TH>
            <TH>START-PRICE</TH>
            <TH>CUR-PRICE</TH>
            <TH>BENEFIT</TH>
            <TH>START-AFTER</TH>
            <TH>STOP-PRICE UP/DOWN</TH>
            <TH>TREND</TH>
            <TH>NOTE</TH>
        </TR>
        </thead>
        <tbody>
        {% for r in recs %}
        <TR {{r.color_class}}>
            <!-- OWN -->
            <TD> {{r.own_type}} </TD>
            <!-- CODE -->
            <TD>
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                    {{r.code}} <BR> {{r.name}}
                </a>
            </TD>
            <!-- START PE -->
            <TD>{{r.start_pe}} <BR> {{r.stop_pe}}</TD>
            <!-- volatility range -->
            <TD>{{r.volatility_range.0}} <BR> {{r.volatility_range.1}}</TD>
            <!-- start price -->
            <TD>{{r.start_price}}</TD>
            <!-- cur price -->
            <TD>
                {{r.cur_price}}
                <BR>
                <p class={% if r.cur_p_change >= 0.0 %} "text-success" {% else %} "text-danger" {% endif %}>
                    {{'%+.2f%%' % (r.cur_p_change * 100)}}
                </p>
                </TD>
            <!-- benefit -->
            <TD>
                {% if r.own %}
                {{'%+.2f%%' % (r.cur_benefit * 100) }}
                {% for _ in range(r.progress | int) %}
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <BR>
                {% else %}
                <BR>
                {% endfor %}

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{(r.progress - (r.progress | int)) * 100}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% else %}
                    -
                {% endif %}
            </TD>
            <!-- start after -->
            <TD>
                {{r.start_after}}
            </TD>
            <!-- stop price -->
            <TD>{{r.stop_price}} <BR> {{r.stop_loss_price}} </TD>
            <!-- trend -->
            <TD>
                {{r.trend_stop}} / {{r.trend_start}}
                <BR>
                <div class="progress">
                    <div class="progress-bar {{r.trend_info.0}}" role="progressbar" style="width: {{r.trend_info.1 * 100}}%" aria-valuenow="{{r.trend_info.1 * 100}}" aria-valuemin="0" aria-valuemax="100"></div>

            </TD>
            <!-- note -->
            <TD>{{r.note}}</TD>
        </TR>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
