{% extends "base.html" %}
{% block title %}
Grid
{% endblock %}
{% block style %}
<style>
 .slidecontainer {
     width: 100%;
 }

 .slider {
     -webkit-appearance: none;
     width: 100%;
     height: 15px;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
 }

 .slider:hover {
     opacity: 1;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
 }

 .slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
 }
</style>
{% endblock %}
{% block content %}
<center><h3><span class="badge badge-info center-block">GRID</span></h3></center>

<table data-toggle="table" class="table">
    <thead>
        <TR>
            <TH>CODE/NAME</TH>
            <TH>SIZE/WIDTH</TH>
            <TH>UNIT</TH>
            <TH>SELL</TH>
            <TH>OP-TREND</TH>
            <TH>BUY</TH>
            <TH>CUR-HOLD</TH>
            <TH>CUR-PRICE</TH>
            <TH>TREND</TH>
            <TH>NOTE</TH>
        </TR>
    </thead>
    <tbody>
        {% for r in grid_recs %}
        <TR>
            <!-- CODE -->
            <TD rowspan="2">
                {% if r.own != 1 %}
                #
                {% endif %}
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                    {{r.code}} <BR> {{r.name}}
                </a>
            </TD>
            <!-- SIZE -->
            <TD rowspan="2">
                {{r.size}}
                <BR>
                {{'%.2f%%' % (r.width * 100)}}
            </TD>
            <!-- WIDTH -->
            <TD rowspan="2">{{r.unit}}</TD>
            <!-- SELL -->
            <TD class="table-active">{{r.next_sell.0}}</TD>
            <!-- next op distance -->
            <TD>
                {% if r.next_op_distance.0 > 0 %}
                <input type="range" class="slider"
                       min="0" max="100" step="1" value={{(r.next_op_distance.0 * 100) | int}} disabled="true">
                {% else %}
                NA
                {% endif %}
            </TD>
            <!-- BUY -->
            <TD class="table-active">{{r.next_buy.0}}</TD>
            <!-- hold -->
            <TD class="table-active"> {{r.hold_count.0}} </TD>
            <!-- cur price -->
            <TD rowspan="2">
                {{r.cur_price}}
                <BR>
                <p class={% if r.cur_p_change >= 0.0 %} "text-success" {% else %} "text-danger" {% endif %}>
                    {{'%+.2f%%' % (r.cur_p_change * 100)}}
                </p>
                {% if r.is_fund %}
                <p class="text-white
                          {% if r.premium >= 0 %}
                          bg-info
                          {% else %}
                          bg-warning
                          {% endif%}
                          ">
                {{r.ass_date}}
                <BR>
                {{'%+.2f%%' % (r.premium * 100)}}
                </p>
                {% endif %}
            </TD>
            <!-- trend -->
            <TD rowspan="2">
                {{r.trend_low}} / {{r.trend_high}}
                <BR>
                <div class="progress">
                    <div class="progress-bar {{r.trend_info.0}}" role="progressbar" style="width: {{r.trend_info.1 * 100}}%" aria-valuenow="{{r.trend_info.1 * 100}}" aria-valuemin="0" aria-valuemax="100"></div>

            </TD>
            <!-- note -->
            <TD rowspan="2">{{r.note}}</TD>
        </TR>
        <TR>
            <!-- SELL -->
            <TD>{{r.next_sell.1}}</TD>
            <!-- next op distance -->
            <TD>
                {% if r.next_op_distance.1 > 0 %}
                <input type="range" class="slider"
                       min="0" max="100" step="1" value={{(r.next_op_distance.1 * 100) | int}} disabled="true">
                {% else %}
                NA
                {% endif %}
            </TD>
            <!-- BUY -->
            <TD>{{r.next_buy.1}}</TD>
            <!-- hold -->
            <TD> {{r.hold_count.1}} </TD>
        </TR>
        {% endfor %}
    </tbody>
</table>

<center><h3><span class="badge badge-info center-block">TREND</span></h3></center>
<table data-toggle="table" class="table">
    <thead>
        <TR>
            <TH>CODE/NAME</TH>
            <TH>RATIO/UNIT</TH>
            <TH>NEXT-BUY</TH>
            <TH>CUR-HOLD</TH>
            <TH>FLUSH-PRICE</TH>
            <TH>OP-TREND</TH>
            <TH>HIGHEST-PRICE</TH>
            <TH>CUR-PRICE</TH>
            <TH>TREND</TH>
            <TH>NOTE</TH>
        </TR>
    </thead>
    <tbody>
        {% for r in trend_recs %}
        <TR>
            <!-- CODE -->
            <TD>
                {% if r.own != 1 %}
                #
                {% endif %}
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                    {{r.code}} <BR> {{r.name}}
                </a>
            </TD>
            <!-- RATIO/UNIT -->
            <TD>
                {{'%.2f%%' % (r.ratio * 100)}}
                <BR>
                {{r.unit}}
            </TD>
            <!-- NEXT-BUY -->
            <TD>{{r.next_buy}}</TD>
            <!-- CUR-HOLD -->
            <TD> {{r.cur_hold}} </TD>
            <!-- FLUSH-PRICE -->
            <TD class="table-active"> {{r.flush_price}} </TD>
            <!-- OP-TREND -->
            <TD>
            <input type="range" class="slider"
                   min="0" max="100" step="1" value={{(r.trend_position_of_cur_price * 100) | int}} disabled="true">
            </TD>
            <!-- HIGHEST-PRICE -->
            <TD class="table-active">{{r.trend_high}}</TD>
            <!-- CUR-PRICE -->
            <TD>
                {{r.cur_price}}
                <BR>
                <p class={% if r.cur_p_change >= 0.0 %} "text-success" {% else %} "text-danger" {% endif %}>
                    {{'%+.2f%%' % (r.cur_p_change * 100)}}
                </p>
            </TD>
            <!-- trend -->
            <TD>
                {{r.trend_low}} / {{r.trend_high}}
                <BR>
                <div class="progress">
                    <div class="progress-bar {{r.trend_info.0}}" role="progressbar" style="width: {{r.trend_info.1 * 100}}%" aria-valuenow="{{r.trend_info.1 * 100}}" aria-valuemin="0" aria-valuemax="100"></div>

            </TD>
            <!-- note -->
            <TD>{{r.note}}</TD>
        </TR>
        {% endfor %}
    </tbody>
</table>


<center><h3><span class="badge badge-info center-block">REBOUND</span></h3></center>
<table data-toggle="table" class="table">
    <thead>
        <TR>
            <TH>CODE/NAME</TH>
            <TH>DAYS</TH>
            <TH>RATIO</TH>
            <TH>LOWEST</TH>
            <TH>OP-TREND</TH>
            <TH>REBOUND</TH>
            <TH>CUR-PRICE</TH>
            <TH>NOTE</TH>
        </TR>
    </thead>
    <tbody>
        {% for r in rebound_recs %}
        <TR>
            <!-- CODE -->
            <TD>
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                    {{r.code}} <BR> {{r.name}}
                </a>
            </TD>
            <!-- DAYS -->
            <TD>{{r.days}}</TD>
            <!-- RATIO -->
            <TD>
                {{'%.2f%%' % (r.ratio * 100)}}
            </TD>
            <!-- LOWEST -->
            <TD class="table-active">{{r.lowest_price}}</TD>
            <!-- OP-TREND -->
            <TD>
            <input type="range" class="slider"
                   min="0" max="100" step="1" value={{(r.trend_position_of_cur_price * 100) | int}} disabled="true">
            </TD>
            <!-- REBOUND -->
            <TD class="table-active">{{r.rebound_price}}</TD>
            <!-- CUR-PRICE -->
            <TD>
                {{r.cur_price}}
                <BR>
                <p class={% if r.cur_p_change >= 0.0 %} "text-success" {% else %} "text-danger" {% endif %}>
                    {{'%+.2f%%' % (r.cur_p_change * 100)}}
                </p>
            </TD>
            <!-- note -->
            <TD>{{r.note}}</TD>
        </TR>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
