<center><h3><span class="badge badge-info center-block">TREND</span></h3></center>
<table data-toggle="table" class="table">
    <thead>
        <TR>
            <TH>CODE/NAME</TH>
            <TH>RATIO/UNIT</TH>
            <TH>CUR-HOLD</TH>
            <TH>CUR-FLUSH</TH>
            <TH>OP-TREND</TH>
            <TH>NEXT-BUY</TH>
            <TH>CUR-PRICE</TH>
            <TH>STOP-BENEFIT</TH>
            <TH>TREND/NOTE</TH>
        </TR>
    </thead>
    <tbody>
        {% for r in trend_recs %}
          <TR>
            <!-- CODE -->
            <TD
                {% if r.own < 1 %} class="table-active" {% endif %}>
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                  {{r.code}} <BR> {{r.name}}
                </a>
                <BR> CNY: {{r.cur_invest}} <BR> ~BENEFIT: {{'%+.2f%%' % (r.approx_benefit_rate * 100)}}
                {% if r.break_highest () %}
                  <i class="fas fa-lightbulb"></i>
                {% endif %}
            </TD>
            <!-- RATIO/UNIT -->
            <TD>
                {{'%.2f%%' % (r.ratio * 100)}}
                <BR>
                {{r.unit}}
            </TD>
            <!-- CUR-HOLD -->
            <TD> {{r.cur_hold[0]}} <BR> {{r.cur_hold[1]}} </TD>
            <!-- CUR-FLUSH -->
            <TD class="table-active">
              {{r.cur_flush_price}}
              <BR>
              {{r.cur_flush_cnt}}
            </TD>
            <!-- OP-TREND -->
            <TD>
            <input type="range" class="slider"
                   min="0" max="100" step="1" value={{(r.op_position_of_cur_price * 100) | int}} disabled="true">
            </TD>
            <!-- NEXT-BUY -->
            <TD class="table-active">
              {{r.next_buy_price}}
              <BR>
              {{r.next_buy_cnt}}
            </TD>
            <!-- CUR-PRICE -->
            <TD>
                {{r.cur_price}}
                <BR>
                <p class={% if r.cur_p_change >= 0.0 %} "text-success" {% else %} "text-danger" {% endif %}>
                    {{'%+.2f%%' % (r.cur_p_change * 100)}}
                </p>
            </TD>
            {# STOP-BENEFIT #}
            <TD>
                <p class={% if r.cur_price >= r.stop_benefit_price %} "text-dark" {% else %} "text-danger" {% endif %}>
              {{'%.*f' % (r.prec, r.stop_benefit_price)}}
                  </p>
            </TD>
            <!-- trend -->
            <TD>
                {{r.trend_low}} / {{r.trend_high}}
                <BR>
                <div class="progress">
                    <div class="progress-bar {{r.trend_info.0}}" role="progressbar" style="width: {{r.trend_info.1 * 100}}%" aria-valuenow="{{r.trend_info.1 * 100}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <BR>
                <canvas id="trend_{{r.code}}" width="200" height="100"></canvas>
                <script>
                  var ctx = document.getElementById("trend_{{r.code}}");
                  var myChart = new Chart(ctx, {
                      type: 'line',
                      data: {
                          labels: {{r.last_n_days_date | safe}},
                          datasets: [{
                              data: {{r.last_n_days_price | safe}},
                          }]
                      },
                      options: {
                          responsive: false,
                          legend: {
                              display: false
                          },
                          scales: {
                              xAxes: [{
                                  ticks: {
                                      display: false //this will remove only the label
                                  }
                              }],
                              yAxes: [{
                                  ticks: {
                                      display: false //this will remove only the label
                                  }
                              }]
                          }
                      }
                  });
                </script>
                <BR>
                {{r.note}}
            </TD>
        </TR>
        {% endfor %}
    </tbody>
</table>
