<center><h3><span class="badge badge-info center-block">TREND-CANDIDATE</span></h3></center>
<p><h5>Update: <small>{{timestamp}}</small> Duration: <small>{{duration}}</small></h5></p>
<table data-toggle="table" class="table">
    <thead>
        <TR>
            <TH>CODE/NAME</TH>
            <TH>BENEFIT-RATE</TH>
            <TH>OPS</TH>
            <TH>TREND</TH> 
        </TR>
    </thead>
    <tbody>
        {% for r in trend_candidate_recs %}
          <TR>
            <!-- CODE -->
            <TD>
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                  {{r.code}} <BR> {{r.name}}
                </a>
            </TD>
            <!-- BENEFIT-RATE -->
            <TD>
                {{'%.2f%%' % (r.benefit_rate * 100)}}
            </TD>
            <!-- OPS -->
            <TD>
              {% for op in r.ops %}
                {{ op }}
                <BR>
              {% endfor %}
            </TD>
            <!-- trend -->
            <TD> 
                {% include "daily_chart.js" %}
            </TD> 
        </TR>
        {% endfor %}
    </tbody>
</table>
