<center><h3><span class="badge badge-info center-block">UNDERESTIMATE</span></h3></center>
<table data-toggle="table" class="table">
    <thead>
        <TR>
            <TH>CODE/NAME</TH>
            <TH>CUR-POS</TH>
            <TH>TREND</TH> 
        </TR>
    </thead>
    <tbody>
        {% for r in trend_candidate_recs %}
          <TR>
            <!-- CODE -->
            <TD>
                <a href="https://xueqiu.com/k?q={{r.code}}#/stock">
                  {{r.code}} <BR> {{r.name}}
                </a>
            </TD>
            <!-- CUR-POS -->
            <TD>
                {{'%.2f%%' % (r.pos * 100)}}
            </TD>
            <!-- trend -->
            <TD> 
                <canvas id="underestimate_{{r.code}}" width="200" height="100"></canvas> 
                <script> 
                  var ctx = document.getElementById("underestimate_{{r.code}}"); 
                  var myChart = new Chart(ctx, { 
                      type: 'line', 
                      data: { 
                          labels: {{r.last_n_days_date | safe}}, 
                          datasets: [{ 
                              data: {{r.last_n_days_price | safe}}, 
                          }] 
                      }, 
                      options: { 
                          responsive: false, 
                          legend: { 
                              display: false 
                          }, 
                          scales: { 
                              xAxes: [{ 
                                  ticks: { 
                                      display: false //this will remove only the label 
                                  } 
                              }], 
                              yAxes: [{ 
                                  ticks: { 
                                      display: false //this will remove only the label 
                                  } 
                              }] 
                          } 
                      } 
                  }); 
                </script> 
                <BR> 
            </TD> 
        </TR>
        {% endfor %}
    </tbody>
</table>
