{% extends "base.j2" %}
{% block title %}
Wave
{% endblock %}

{% block style %}
  {% include "style.j2" %}
{% endblock %}

{% block content %}
{% include "grid.j2" %}
{% include "trend.j2" %}
{% include "rebound.j2" %}
{% include "trend_candidate.j2" %}
{# {% include "underestimate.j2" %} #}
{% endblock %}
